<!DOCTYPE html>
<html>
    <head>
        <!-- this isn't displayed on the webpage -->
        <meta charset="utf8">
        <title>BUY</title>
    </head>
    <style>
            body {
            color: #939899;
            background-color: #000000;
            button: #17ff02
        }
        </style>
    <body>
        <!-- this is displayed on the webpage -->
        <h1>BUY MENU</h1>
        <form action="/buy" method="post">
            <input name="ticker_symbol" placeholder="symbol">
            <input name="number_of_shares" placeholder="no. of shares">
            <input type="submit">
            <a href="/menu">Main Menu</a>
        </form>    
        <h2>{{result}}</h2>
    </body>
