<!DOCTYPE html>
<html>
    <head>
        <!-- this isn't displayed on the webpage -->
        <meta charset="utf8">
        <title>WebTrader Account Creation</title>
    </head>
    <body>
        <!-- this is displayed on the webpage -->
        <h1>Create an Account</h1>
        <form action="/create" method="post">
            <input name="username" placeholder="username">
            <input type= "password" name="password" placeholder="password">
            <input name="funds" placeholder="funds">
            <input type= "checkbox" name="admin" value="1">
            <input type="submit">

            
        </form>
    <body/>

