<!DOCTYPE html>
<html>
    <head>
        <!-- this isn't displayed on the webpage -->
        <meta charset="utf8">
        <title>Symbol Lookup</title>
    </head>
    <style>
            body {
            color: #939899;
            background-color: #000000;
        }
        </style>
    <body>
        <!-- this is displayed on the webpage -->
        <a href="/menu">Main Menu</a>
        <h1>Symbol Lookup</h1>
        <form action="/lookup" Method="post">
            <input name="company_name" placeholder="company">            

        </form>
        <h2>Symbol</h2>
            {{result}}
    </body>
