<!DOCTYPE html>
<html>
    <head>
        <!-- this isn't displayed on the webpage -->
        <meta charset="utf8">
        <title>Terminal Trader</title>
    </head>
    <body>
        <!-- this is displayed on the webpage -->
        <h1>Terminal Trader Menu</h1>
        <form action="/menu" methon="post">
            <a href="/buy">Buy Menu</a>
            <a href="/sell">Sell Menu</a>
            <a href="/lookup">Symbol Lookup</a>
            <a href="/quote">Stock Quote</a>
            <a href="/history">Trade History</a>
            <a href="/holdings">Portfolio Holdings</a>
            <a href="/leaderboard">P & L Leaderboard</a>
            <a href="/login">Logout</a>
        </form>
    <body/>


<!--<h3>Hi, <span style="color:red"> {{name}} </span></h3> -->
<!-- <h3>Hi, <span style="color:#00FF00"> {{name}} </span></h3> -->
<!-- this is how you comment stuff out -->



