<!DOCTYPE html>
<html>
    <head>
        <!-- this isn't displayed on the webpage -->
        <meta charset="utf8">
        <title>WebTrader</title>
    </head>
    <style>
            body {
            color: #939899;
            background-color: #000000;
        }
        </style>
    <body>
        <!-- this is displayed on the webpage -->
        <h1>WebTrader Login</h1>
        <a href="/create">Create an Account</a>
        <form action="/login" method="post">
            <input name="username" placeholder="username">
            <input type= "password" name="password" placeholder="password">
            <input type="submit">
        </form>
    <body/>


<!--<h3>Hi, <span style="color:red"> {{name}} </span></h3> -->
<!-- <h3>Hi, <span style="color:#00FF00"> {{name}} </span></h3> -->
<!-- this is how you comment stuff out -->



